<html>
  <head>
    <title>Image Processing</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel='apple-touch-icon' type='image/png' href='/favicon.png' />
    <link rel='image_src' type='image/png' href='/favicon.png' />
  </head>

  <body>
    <h1>Welcome to the Image Processing application!</h1>

    <p>
      This is a simple Rails application that demonstrates how to use the
      ruby-vips gem to process images.
    </p>

    <p>
      Please check the <a target='_blank' href='https://github.com/rmagick/rmagick'>rmagick</a> gem for more information.
    </p>
  </body>
</html>